@model IEnumerable<Core.Entities.Customers>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista klientów</h1>

<p>
    <a asp-action="Create">Dodaj nowego klienta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>Imię klienta:</span>            
            </th>
            <th>
                <span>Nazwisko klienta:</span>
            </th>
            <th>
                <span>Numer karty klienta:</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CCardCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CId">Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.CId">Szczegóły</a>
                <a asp-action="Delete" asp-route-id="@item.CId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
