@model Core.Entities.Librarians

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Librarians</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
