@model IEnumerable<Core.Entities.Librarians>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista bibliotekarzy</h1>

<p>
    <a asp-action="Create">Dodaj nowego bibliotekarza</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>Imię bibliotekarza:</span>            
            </th>
            <th>
                <span>Nazwisko bibliotekarza:</span>
            </th>
            <th>
                <span>Email bibliotekarza:</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LId">Edytuj</a>
                <a asp-action="Details" asp-route-id="@item.LId">Szczegóły</a>
                <a asp-action="Delete" asp-route-id="@item.LId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
