@model IEnumerable<Core.Entities.Books>

@{
    ViewData["Title"] = "Index";
}

<h1 class="page-title">Lista książek</h1>

<p>
    <a asp-action="Create">Dodaj nową książkę</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <span>Tytuł książki:</span>
            </th>
            <th>
                <span>Numer ISBN książki:</span>
            </th>
            <th>
                <span>Data publikacji:</span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BPublishDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BId">Edytuj</a>
                    <a asp-action="Details" asp-route-id="@item.BId">Szczegóły</a>
                    <a asp-action="Delete" asp-route-id="@item.BId">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
