@model Core.Entities.Authors

@{
    ViewData["Title"] = "Details";
}
<div class="box">
    <div class="row title">
        <h1 class="title-row">Szczegóły autora</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>Pierwsze imię:</span>
                </th>
                <th>
                    <span>Drugie imię:</span>
                </th>
                <th>
                    <span>Nazwisko:</span>
                </th>
                <th>
                    <span>Pełne imię:</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.AFirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AMiddleName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ALastName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AFullName)
                </td>
            </tr>
        </tbody>
    </table>
    <div class="footer-section">
        <a asp-action="Edit" asp-route-id="@Model.AId">Edytuj</a> |
        <a asp-action="Index">Powrót do listy autorów</a>
    </div>
</div>
