@model Core.Entities.Authors

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły autora</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <span>GUID Autora:</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AGID)
        </dd>
        <dt class="col-sm-2">
            <span>Pierwsze imię:</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AFirstName)
        </dd>
        <dt class="col-sm-2">
            <span>Drugie imię:</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AMiddleName)
        </dd>
        <dt class="col-sm-2">
            <span>Nazwisko:</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ALastName)
        </dd>
        <dt class="col-sm-2">
            <span>Pełne imię:</span>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AFullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AId">Edytuj</a> |
    <a asp-action="Index">Powrót do listy autorów</a>
</div>
