@model Core.Entities.Authors

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Authors</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AGID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AGID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AMiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AMiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ALastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ALastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AFullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
